
.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.users-list.entry-header{
    background: #fff;
    padding: 100px 0px;
}

.user-list .post-inner{
    padding-bottom: 100px;
}

#user_data span{
    padding: 10px;
    display: block;
    padding: 5px;
}

#user_data span span{
    display: inline-block;
    color: #0A246A;
}

.outer-span{
    border: 1px solid #ccc;
}